# internet
requests==2.31.0
fastapi==0.109.1
aiohttp==3.9.3

# compute
networkx==3.2.1
numpy==1.26.3
scipy==1.12.0
SQLAlchemy==2.0.25

# data processing
pandas==2.2.0
polars==0.20.6
SQLAlchemy==2.0.25

# machine learning
scikit-learn==1.4.0
catboost==1.2.2
torch==2.2.0

# visualization
seaborn==0.13.2
matplotlib==3.8.2
plotly==5.18.0
pillow==10.2.0

# utils
tqdm